*{
    border-radius: 0.2em;
}

body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    /* first font is the primary, second is the fallback */
    font-family:"Lato", sans-serif;
    font-weight: 300;
    line-height: 1.8em;
    color: #666;
    scroll-behavior: smooth;
}


.header {
    overflow: hidden;
    padding: 8px 8px;
    color:firebrick;
    background-color: white;
    /* sticky header, 100% width, and always on top */
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  
  .header a {
    float: left;
    color: firebrick;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    
  }
  
  .header a:hover {
    background-color: firebrick;
    color: white;
  }
  
  .header a.active {
    background-color: firebrick;
    color: white;
  }
  
  .header-left {
      float: left;
    }
  
    .header-left img{
      height:60px;
      width: auto;
      
    }
  
  .header-right {
      float: right;
      padding-top: 5px;
      padding-right: 10px;
    }

.border_heading{
    font-size: 18px;
    background-color: #777;
    padding: 10px;
}



.pimg1, .pimg2, .pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* 
    fixed = parallaxed
    scroll = normal
     */
    background-attachment: fixed;
}

.pimg1{
    background-image:url(../Images/img1.jpg);
    min-height: 100%;
}

.pimg2{
    background-image:url(../Images/img2.jpg);
    min-height: 80%;
}

.pimg3{
    background-image:url(../Images/img3.jpg);
    min-height: 400px;
}

section{
    text-align: center;
    /* 
    50px top and bottom 
    80px left and right 
    */
    padding:30px 80px;

}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: #ddd;
}

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 50px;
  }

  
  .cards {
    max-width: 960px;
    margin: 0 auto;
  }
  
  article {
    position: relative;
  }
  
  .article-img {
    height: 200px;
    width: 100%;
  }
  
  .article-title {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255);
    color: red;
    font-size: 12px;
  }

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
}

.atext{
    position: absolute;
    top: 300%;
    left: 35%;
    width: 100%;
    text-align: center;
    color: black;
    width: 30%;
    line-height: 30px;
}

.about_text{
    
    color:black;
    background-color: bisque;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 5px;
}

.ptext .border{
    background-color: #777;
    color: white;
    padding: 20px;
}

.ptext .border.transparent{
    background: transparent;
}


@media (max-width: 920px) {
    .pimg2{
        height: 120%;
     }
}
  
@media (max-width: 700px) {
    .leading {
       display: flex;
       align-items: center;
     }

     .cards{
        grid-gap:8em;
     }

     .pimg2{
        height: 280%;
     }
   }


@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}